<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/header}">

<head>
    <meta charset="utf-8"/>
    <title>Assess</title>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" href="/static/css/main.css"/>
    <link rel="stylesheet" href="/static/css/list.css"/>
    <script src="/static/js/datatable.js"></script>
    <script src="/static/js/list.js"></script>
    <script th:src="@{/static/js/script.js}"></script>
    <script th:src="@{/static/js/assess.js}"></script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"/>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</head>

<body class="page-size">
<div th:insert="fragment/header :: header">...</div>


<!--<section>
    <div class="container">
        &lt;!&ndash;displays by lastname&ndash;&gt;
        <div class="row mt-3"><p><i class="fas fa-users ocean"> Select a patient by lastname to display it's report</i>
        </p></div>
        <form th:action="@{/assess/lastname}" th:object="${patient}" method="post">
            <div class="form-group">
                <label for="lastname" class="col-form-label"></label>
                <select th:field="*{lastname}" id="lastname" class="btn btn-outline highlighted">
                    <option  th:each="pat : ${patients}" th:value="${pat.lastname}"
                            th:text="${pat.lastname}"></option>
                </select>
                <button class="btn btn-outline highlighted" type="submit" id="submit"><i class="fas fa-spinner"></i></button>
            </div>
        </form>
    </div>
</section>-->

<section>
    <div class="container">
        <!--displays by lastname-->
        <div class="row mt-3"><p><i class="fas fa-users ocean"> Select a patient by lastname to display it's report</i>
        </p></div>
        <form th:action="@{/assess/lastname}" th:object="${patient}" method="post">
            <div class="form-group">
                <label for="lastname" class="col-form-label"></label>
                <select th:field="*{lastname}" id="lastname" class="btn btn-outline highlighted">
                    <option th:each="lastname : ${lastnames}" th:value="${lastname}"
                            th:text="${lastname}"></option>
                </select>
                <button class="btn btn-outline highlighted" type="submit" id="submit"><i class="fas fa-spinner"></i>
                </button>
            </div>
        </form>
    </div>
</section>

<section>
    <div class="container">
        <div class="row mt-3"><p><i class="fas fa-file-medical-alt ocean"> List of reports</i></p></div>
        <table class="table table-striped" id="sort">
            <thead class="thead">
            <tr>
                <th class="custom-th">Firstname</th>
                <th class="custom-th">Lastname</th>
                <th class="custom-th">Probability</th>
                <th class="custom-th">Gender</th>
                <th class="custom-th">Birthdate</th>
                <th class="custom-th">Address</th>
                <th class="custom-th">Phone</th>
            </tr>
            </thead>
            <tbody class="thbody">
            <tr th:each="report : ${reports}">
                <td th:text="${report.firstname}"></td>
                <td th:text="${report.lastname}"></td>
                <td th:text="${report.probability}"></td>
                <td th:text="${report.gender}"></td>
                <td th:text="${report.birthdate}"></td>
                <td th:text="${report.address}"></td>
                <td th:text="${report.phone}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>


